:root {
  --background: #48044b;
  --foreground: #171717;
  --background-image: url("/bg.png");
}

html,
body {
  overflow-x: hidden;
  background: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--foreground);
}